<div class="jumbotron">
	<h1>'Allo, 'Allo!</h1>
	<p class="lead">
		<img src="images/yeoman.png" alt="I'm Yeoman"><br />
		{{'WELCOME_MESSAGE' | translate}}
	</p>
	<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
	<h4>Angular-Require-Fullstack Generator contains</h4>
	<ul>
		<li>AngularJs</li>
		<li>RequireJs</li>
		<li>Bootstrap</li>
		<li>i18n</li>
		<li>Grunt</li>
		<li>File revving</li>
	</ul>
</div>
